.container{
    width: 500px;
    /* margin: 10px auto 30px; */
    margin: 0 auto;
}/* 450px/16=28rem */
.container label {
    font-family: Inter;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 900;
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: #000;
}
/* div label:hover{ */
    /* background: #ffffff; */
    /* color: #1a0dcd; */
/* } */
.container label:hover{
    background: #ffffff;
    color: #1a0dcd;
}

.container input:checked + label,
.container input:checked + label:hover {
    background: #ffffff;
    color: #000;
}
.container label::after{
    /* text-align: right; */
    content: "+";
}
.container input:checked + label,
.container input:checked + label::after {
    content: "x";
}
.container input{
    display: none;
}
.container article{
    overflow: hidden;
    height: 0px;
    position: relative;
    transition:
        height 3s,
        box-shadow 3s linear;
}
.container input:checked ~ article{
    /* :checked ~ article :checked on block article */
    transition:
        height 2s,
        box-shadow 1s linear;
}
.container article.teenager {
    height: 28rem;
}
.container input:checked ~ article.teenager {
    height: 0px;
}
.container input:checked ~ article.independent{
    height: 28rem;
}
.container input:checked ~ article.adult{
    height: 28rem;
}
.container input:checked ~ article.oldMan{
    height: 28rem;
}
 
